{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<div class='row'>
		<div class='col-sm-6 col-sm-offset-3'>
			<h1>Sobre nós</h1>
			<img src="{% static 'img/BateBola.gif' %}">
			<p>Aqui e sobre o autor Aqui e sobre o autor Aqui e sobre o autor Aqui e sobre o autor Aqui e sobre o autor Aqui e sobre o autor</p>

			<p>Aqui e sobre o autor Aqui e sobre o autor Aqui e sobre o autor Aqui e sobre o autor Aqui e sobre o autor Aqui e sobre o autor</p>
		</div>
	</div>

{% endblock content %}